# Logs
logs
*.log
npm-debug.log*

# Dependency directories
package-lock.json
# Optional npm cache directory
.npmignore

# parcel-bundler cache (https://parceljs.org/)
.cache

yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Dependency directories
node_modules/
jspm_packages/


# Optional npm cache directory
.npm
